<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  <display-name>tapfoods</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.tap.controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tap.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantList</display-name>
    <servlet-name>RestaurantList</servlet-name>
    <servlet-class>com.tap.controller.RestaurantList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantList</servlet-name>
    <url-pattern>/RestaurantList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuSer</display-name>
    <servlet-name>MenuSer</servlet-name>
    <servlet-class>com.tap.controller.MenuSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSer</servlet-name>
    <url-pattern>/MenuSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServ</display-name>
    <servlet-name>CartServ</servlet-name>
    <servlet-class>com.tap.controller.CartServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServ</servlet-name>
    <url-pattern>/CartServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServ</display-name>
    <servlet-name>CheckoutServ</servlet-name>
    <servlet-class>com.tap.controller.CheckoutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServ</servlet-name>
    <url-pattern>/CheckoutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutSer</display-name>
    <servlet-name>CheckoutSer</servlet-name>
    <servlet-class>com.tap.controller.CheckoutSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutSer</servlet-name>
    <url-pattern>/CheckoutSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tap.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>